body {
  background-image: url("Champions.jpg");
  background-color: #cccccc;
  width: "550"
}

.intro {
  color: red;
  text-align:center;
  border-width: 3px;
  background-color:white;
}

.intro-descripcion {
  color: red;
  text-align:center;
  border-width: 3px;
  background-color:white;
}

.texto {
    font-size: 30px;
    color: white;
    font-weight: bold;
}
